* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

:root {
    --gray-800: #1e2938;
    --gray-600: #475569;
    --gray-400: #94a3b8;
    --gray-200: #e2e8f0;
    --purple: #7c3ad7;
    --light-purple: #9F67FF;
    --white: #fff;
}

  {      display: none;
}

.login button:hover {
    background: var(--light-purple);
    transition: 0.3s;
}
@media {(min-width: 1000px)    }
    body {
        display: flex;
   }
    .conteudo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bg-desktop {
        display: block;
        width: 100%;
    }
    .descricao h1 {
        font-size: 2.25rem;
    }
    .descricao p {
        font-size: 1rem;
    }